<div class="col-xs-12">
	<ul class="list-group">
		<li class="list-group-item" ng-style="{ 'background-color': getColor($index) }" ng-repeat="device in devices" ng-click="itemClicked($index, this)">
			</span>
			{{device.name}} - {{device.model}} 
			<span class="badge">{{device.owner}}</span>
		</li>
	</ul>
	<div class="form-group">
        <label>Please enter your name</label>
        <div class="clearfix"></div>
        <div class="col-xs-8">
	        <input type="text" class="form-control" ng-model="owner"/>
        </div>
        <button class="btn btn-success pull-right col-xs-4" ng-click="changeOwner()">
        Check Out
    	</button>
    </div>   
</div>